@viewport{
	width:device-width;
	zoom:1.0;
}
body {
	background: black;
	color: white;
	padding: 0;
	margin: 0;
	font-family: "Google Sans Code", monospace;
}

img {
	max-width: 100%;
	height: auto;
	display:block;

}
li {
	font-size: 1.5rem;
	font-weight: 200;
	color: #6b6969;
}

footer {
	border-top: 1px solid white;
	font-weight: 700;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

a {
	color: #7a8282;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5rem;
}
a:hover {
	color: #5a5e5e;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.65rem;
}

.typing {
	display: flex;
	justify-content: center;
}

.typing h1,
h2 {
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid;
	animation:
		type 3s steps(20) forwards,
		cursor 1s step-end infinite;
}

.navigation-home {
	border-bottom: 3px solid white;
	word-spacing: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:10px;
}

.inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

@keyframes type {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes cursor {
	50% {
		border-color: transparent;
	}
}

.project-element{
	border: 2px solid white
}

.para-border {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.light-mode{
	background-color: white;
	color: black;
}

.light-mode li{
	color:#6b6969
}

.toggle-button{
	border-radius: 2px;
	background-color: gray;
}

.toggle-button:hover{
	border-radius: 2px;
	background-color: white;
}

.light-mode .toggle-button{
	border-radius: 2px;
	background-color: black;
	color: white;
}

.light-mode .toggle-button:hover{
	border-radius: 2px;
	background-color: white;
	color: black;
}

.light-mode .navigation-home{
	border-bottom: 3px solid black
}

.light-mode .para-border{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

@media (max-width:768px){
	html{
	font-size:65%;
	}
}

